@font-face {
    font-family: Poppins;
    src: url('../assets/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #24292f;
    overflow-x: hidden;
}

.panel{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center-content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 500px;
    height: 350px;
    padding: 20px;
    overflow-wrap: break-word;
}

.avatar{border-radius: 50%;}

.location{
    font-size: .7em;
    color:#999999;
}

.name, .username{
    margin: 0px;
    color: #fff;
}

.link-icons:focus, .link-icons:active, .link-icons{
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
}

.grid-container {
    max-height: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "grid-avatar grid-bio";
}
.grid-avatar { grid-area: grid-avatar;}
.grid-bio { grid-area: grid-bio; }
.grid-bio p{
    font-size: .8em;
}

.nav{
    margin: 20px;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;  
    padding: 0; 
}
.nav ul li a{
    color: #fff;
}

.card-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3 , 250px);
    grid-gap: 20px 10px;
    justify-content: center;
}

.card{
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2d3237;
    transition: transform .2s;
}
.card-title{
    display: flex;
    justify-content: space-between;
}
.card:hover{
    transform: translateY(-10px);
}
.card a{
    color: #fff;
}
#projects{
    padding-bottom: 10vh;
}

.headline{
    text-align: center;
}

.grid-form { grid-area: form; }
.grid-details { grid-area: details; }

#contact{
    display: flex;
    justify-content: center;
}

.contact-wrapper{
    display: flex;
    justify-content: center;
}

.contact-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    max-width: 500px;
    height: 500px;
    box-sizing: inherit;
}
.contact-box-l{
    border-radius: 20px 0px 0px 20px;
    background-color: #343a40;
}
.contact-box-r{
    border-radius: 0px 20px 20px 0px;
    background-color: #2d3237;
}

.contact-box input, textarea{
    min-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    resize: none;
    background-color: #3d434a;
    color: #fff;
}

.contact-box i{
    color: #fff;
    font-size: 30px;
    margin: 10px;
}
.contact-box-r{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #3d434a;
    color: #fff;
}
.contact-form button:hover{
    background-color: #2d3237;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .card{
        max-width: 400px;
        min-width: 330px;
        height: 250px;
        padding: 20px;
    }
    .card p{
        font-size: 1em;
    }
    .card .title{
        font-size: 1.5em;
    }
    .grid-bio p{
        font-size: 1em;
    }
    .contact-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "form details"; 
    }
}
@media screen and (max-width: 767px) {
    .card-wrapper{
        display: inline
    }
    .card{
        min-width: 350px;
        margin: 20px 10px 0px 10px;
    }
    .card p{
        font-size: .8em;
    }
    .card .title{
        font-size: 1.2em;
    }
    .contact-container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "form"
            "details";
    }
    .contact-box-l{
        border-radius: 20px 20px 0px 0px;
        
    }
    .contact-box-r{
        border-radius: 0px 0px 20px 20px;
    }
    .contact-box{
        width: 100%;
        padding: 20px;
        max-width: 350px;
        max-height: 350px;
    }
}


/* TOGGLE SWITCH STYLES */

.switch-wrapper{
    position: fixed;
    right: 10px;
}

.switch-wrapper input[type=checkbox]{
    width: 70px;
    height: 36px;
    -webkit-appearance:none;
    border-radius: 30px;
    outline: none;
    position: relative;
    font-weight: bolder;
    font-family: "Font Awesome 5 Free"; font-weight: 400; font-size: 1em; content: '\f186';
    background-color: #3D434A;
    color: #24292F;
}
.switch-wrapper input[type=checkbox]:before{
    font-family: "Font Awesome 5 Free"; font-weight: 400; font-size: 1.5em; content: "\f186";
    text-align: center;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 29px;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    transition-duration: .5s;
    background-color: #fff;
}
.switch-wrapper input:checked[type=checkbox]{
    background-color: #d2d2d2;
}
.switch-wrapper input:checked[type=checkbox]:before{
    font-family: "Font Awesome 5 Free"; font-weight: 400; font-size: 1em; content: '\f185';
    color:#ffffff;
    background-color: #3D434A;
    left: calc(100% - 34px);
    transition-duration: .5s;
}



/* LIGHT THEME STYLES */
body.light{
    background-color: #efefef;
    color: #24292f;
}

body.light .location,
body.light .link-icons:focus i, body.light .link-icons:active i,body.light .link-icons i,
body.light .username, body.light .name,
body.light .nav ul li a,
body.light .card a,
body.light .contact-box textarea,
body.light .contact-box input{
    color: #24292f;
}

body.light .card{
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

body.light .contact-box-l{
    background-color: rgb(234, 234, 234);
}
body.light .contact-box-r,
body.light .contact-box input,
body.light .contact-box textarea{
    background-color: rgb(218, 218, 218);
}

body.light .card:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}