@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

.panel{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #24292f;
}

.center-content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 500px;
    height: 350px;
    padding: 20px;
    background-color: #24292f;
    color: #fff;
    overflow-wrap: break-word;
}

.avatar{border-radius: 50%;}

.location{
    font-size: .7em;
    color:#999999;
}

.name, .username{
    margin: 0px;
    color: #fff;
}

.link-icons:focus, .link-icons:active, .link-icons{
    color: #fff;
}

.grid-container {
    max-height: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "grid-avatar grid-bio";
}
.grid-avatar { grid-area: grid-avatar;}
.grid-bio { grid-area: grid-bio; }
.grid-bio p{
    font-size: .8em;
}

.nav{
    margin: 20px;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;  
    padding: 0; 
}
.nav ul li a{
    color: #fff;
}

.card-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3 , 250px);
    grid-gap: 10px 10px;
    justify-content: center;
}

.card{
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2d3237;
}
.card a{
    color: #fff;
}
#projects{
    padding-bottom: 5vh;
}

.headline{
    text-align: center;
}

.grid-form { grid-area: form; }
.grid-details { grid-area: details; }

#contact{
    display: flex;
    justify-content: center;
}

.contact-wrapper{
    display: flex;
    justify-content: center;
}

.contact-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    max-width: 500px;
    height: 500px;
    box-sizing: inherit;
}
.contact-box-l{
    border-radius: 20px 0px 0px 20px;
    background-color: #343a40;
}
.contact-box-r{
    border-radius: 0px 20px 20px 0px;
    background-color: #2d3237;
}

.contact-box input, textarea{
    min-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    resize: none;
    background-color: #3d434a;
    color: #fff;
}

.contact-box i{
    color: #fff;
    font-size: 30px;
    margin: 10px;
}
.contact-box-r{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #3d434a;
    color: #fff;
}
.contact-form button:hover{
    background-color: #2d3237;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .card{
        max-width: 400px;
        min-width: 330px;
        height: 200px;
        padding: 20px;
    }
    .card p{
        font-size: 1em;
    }
    .card .title{
        font-size: 1.5em;
    }
    .grid-bio p{
        font-size: 1em;
    }
    .contact-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "form details"; 
    }
}
@media screen and (max-width: 750px) {
    .card-wrapper{
        display: inline
    }
    .card{
        min-width: 350px;
        margin: 20px 10px 0px 10px;
    }
    .card p{
        font-size: .8em;
    }
    .card .title{
        font-size: 1.2em;
    }
    .contact-container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "form"
            "details";
    }
    .contact-box-l{
        border-radius: 20px 20px 0px 0px;
        background-color: #343a40;
        
    }
    .contact-box-r{
        border-radius: 0px 0px 20px 20px;
        background-color: #2d3237;
    }
    .contact-box{
        width: 100%;
        padding: 20px;
        max-width: 350px;
        max-height: 350px;
    }
}